body{
  margin:0;
  font-family:serif;
  text-align:center;
  background:#f3ede3;
}

h1{margin-top:80px;}
.subtitle{margin-bottom:40px;}

.solar-wrap{
  position:relative;
  display:flex;
  justify-content:center;
}

/* SVG */
.solar{
  width:90vw;
  max-width:500px;
}

/* stile matita */
.orbit{
  fill:none;
  stroke:#2b2b2b;
  stroke-width:1;
  opacity:0.5;

  /* effetto mano */
  stroke-dasharray:2 3;
}

.sun{
  fill:#2b2b2b;
}

.planet{
  fill:#2b2b2b;
}

/* label */
.label{
  position:absolute;
  bottom:-40px;
  font-size:16px;
  opacity:0;
  transition:.2s;
}

/* bottone */
.btn{
  display:inline-block;
  margin-top:20px;
  padding:10px 18px;
  border:1px solid #2b2b2b;
  text-decoration:none;
  color:#2b2b2b;
}
